<%- include('header'); -%>
<h2>This is the About Page placeholder</h2>
<p>Nigga, nigga, nigga, nigga, nigga, nigga, nigga!</p>
<p>I'm 100% nigga!</p>
<p>Nigga, nigga, nigga, nigga, nigga, nigga, nigga!</p>
<p>I'm 200% nigga!</p>
<p>Nigga, nigga, nigga, nigga, nigga, nigga, nigga!</p>
<p>I'm 300% nigga!</p>
<p>Nigga, nigga, nigga, nigga, nigga, nigga, nigga!</p>
<p></p>
<p></p>
<%- include('footer'); -%>